/lib
.DS_Store
.idea
node_modules
coverage.html
coverage/
postgresql/
*.iml
*.log
data
loki
uploads
config/local.coffee

# Example plugins
plugins/calculator/node_modules
plugins/nodes-counter/node_modules

trackerdb
trackerdb-beta
plugins/*
!plugins/bin/
