/lib
.DS_Store
.idea
node_modules
coverage.html
coverage/
*.iml
*.log
data
config/local.coffee

loki
uploads

# Example plugins
plugins/calculator/node_modules
plugins/nodes-counter/node_modules

trackerdb
plugins
